@import "./sl/variables.scss";
@import "./sl/bootstrap-theme.scss";

@import "./sl/mixins.scss";
@import "./sl/normalize.scss";
@import "./sl/icons.scss";

@import "./sl/core.scss";
@import "./sl/popup.scss";
@import "./sl/datepicker.scss";
@import "./sl/selectlist.scss";
@import "./sl/multiselect.scss";


.rw-combobox, .rw-datetimepicker, .rw-numberpicker, .rw-dropdownlist{
  height: 45px;
  line-height: 45px;
  border-radius: 0;

}
ul.rw-list>li.rw-list-option, .rw-selectlist>li.rw-list-option{
  height: 45px;
  line-height: 45px;
  border-radius: 0;
  padding-right: 0;
}
.rw-dropdownlist>.rw-select, .rw-dropdownlist.rw-rtl>.rw-select{
  display: none;
}
.rw-dropdownlist>.rw-input {
  line-height: 45px;
}
.rw-popup{
  padding: 0;
}