nav.top-nav {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  a {
    padding: 0 10px;
    display: inline-block;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    transition: background 0.3s;
    &:hover {
      background: transparentize(#000, 0.9);
    }
    &.active {
      background: transparentize(#000, 0.8);
    }

  }
}